#addTaskContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    width: 1208px;
    height: 928px;
    left: 232px;
    top: 96px
}

.add-task {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}

#addTaskContainer h1 {
    font-weight: 700;
    font-size: 61px;
    margin: 0;
}

#addTaskContainerer label {
    color: #2A3647;
}

.task-input-container {
    display: flex;
    width: 976.25px;
    height: 424px;
}

.task-input-cell {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;



    padding-right: 32px;
}

.task-input-not-first-cell {
    border-left: 1px solid #D1D1D1;
    padding-right: 0px;
    padding-left: 32px;
}

#newTaskTitle,
#newTaskAssignedUser,
#newTaskDate,
#newTaskCategory,
#newTaskSubTask {
    height: 48px;
    width: 440px;
    font-size: 20px;
    border-radius: 10px;
    margin: 12px 0;
}

#newTaskDescription {
    height: 120px;
    width: 440px;
    font-size: 20px;
    margin: 12px 0;
    border-radius: 10px;
}

.dropdown-field {
    height: 48px;
    width: 440px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
}

.dropdown-field-text {
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 10px;
}


.dropdown-field-icon {
    width: 48px;
    height: 48px;
    font-size: 20px;
    margin-left: -48px;
}



#assignUserFrom {
    border-radius: 10px;
    width: 440px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#assignedUserList {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#assignedUserList tr {
    border-radius: 10px;
    font-size: 20px;
}

#assignedUserList tr:hover {
    background-color: rgb(233, 233, 233);
}

#assignedUserList .selectedRow {
    background-color: #2A3647;
    color: white
}

#assignedUserList .selectedRow:hover {
    background-color: #091931;
    color: white;
}

.selected-user-checkbox {
    display: none;
}

.selected-user-checkbox-label {
    display: inline-block;
    width: 16px; /* Set the width and height to match your image dimensions */
    height: 16px;
    background-image: url('../assets/icons/checkbox-empty.svg');
    background-size: cover; /* or 'contain', depending on your design */
    cursor: pointer;
}

.selected-user-checkbox:checked + .selected-user-checkbox-label {
    background-image: url('../assets/icons/checkbox-filled.svg');
    border: 1px solid #000;
    padding: 3px;
    background-color: #f00;
}

#newTaskCategory {
    display: flex;
    flex-direction: row;
}

.new-task-category-option {
    width: 440px;
    font-size: 20px;
}

#newTaskPriority {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 16px;
}

.hide {
    display: none;
}

.priority-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 56px;
    width: 136px;
    gap: 8px;
    font-size: 20px;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.priority-button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.166);
}

.priority-button-urgent-selected {
    background-color: orangered;

}

.priority-button-medium-selected {
    background-color: orange;
}

.priority-button-low-selected {
    background-color: #7AE229;
    ;
}

.white-symbol {
    filter: brightness(0) invert(1);
}

.form-options {
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form-options-button {
    gap: 16px;
    font-size: 21px;
    padding: 10px;
    border-radius: 16px;
    background-color: #2A3647;

}

.form-options-button-clear {
    background-color: #F6F7F8;
}

.form-options-button-clear:hover {
    border-color: #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

.form-options-button-create {
    background-color: #2A3647;
    color: white;
}

.form-options-button-create:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}