.body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 96px 0 0 328px;
    font-family: 'Inter', sans-serif;
    overflow-y: scroll;
}

.head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 88px 0 0px;

}

.head-section-right {
    display: flex;
}

.input-section {
    position: relative;
    display: flex;
    align-items: center;
    width: 312px;
}

.input-section input {
    padding: 8px 94px 8px 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    outline: none;
    height: 30px;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    color: black;
    width: 200px;
    padding-right: 94px;
}

.input-line {
    position: absolute;
    right: 60px;
}

.input-search {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.head-section-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.add-task {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 21px;
    font-weight: 700;
    background-color: #2A3647;
    text-decoration: none;
    color: #FFFFFF;
    padding: 6px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.add-task:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

.task-board {
    display: flex;
    justify-content: space-between;
    margin: 48px 64px 0 0px;
    gap: 24px;
}

.plus-icon {
    cursor: pointer;
}

.task-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    width: 244px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.task-field {
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; */
    /* height: calc(100vh - 337px); */
    height: 100vh;
    margin: 8px 64px 0 0px;
    overflow: hidden;
}

.task-area {
    display: flex;
    justify-content: space-between;
    /* margin: 8px 64px 0 0px; */
    height: calc(100vh - 327px);
    gap: 24px;
    height: 100%;
    padding-bottom: 16px;
    overflow: scroll;
}

.creat-task-area {
    width: 244px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: 16px;
    border-radius: 24px;
}

.task-card {
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    cursor: pointer;
}

.card-category {
    padding: 4px 16px;
    background-color: #0038FF;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 8px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
    margin: 0;
    padding-bottom: 8px;
}

.card-description {
    color: #A8A8A8;
    font-size: 16px;
}

.progress-bar-section {
    display: flex;
    align-items: center;
    width: 100%;
}

.progress-bar {
    width: 60%;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    margin-right: 11px;
  }
  
  .progress {
    width: 50%;
    height: 100%;
    background-color: #4589FF;
    transition: width 0.3s ease-in-out;
  }
  
  .progress-bar-subtasks {
    font-size: 12px;
  }

.circle-1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7A00;
}

.circle-2{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1FD7C1;
    margin-left: -13px;
}

.circle-3 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #462F8A;
    margin-left: -13px;
}

.task-card-users {
    display: flex;
    gap: 5px;
}

.task-card-bottom-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-size: 12px;
}

.drag-area-highlight {
    border: 2px gray dashed;
    background-color: rgba(0, 0, 0, 0.1);
}

.noToDo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: #A8A8A8;
    border: 1px #A8A8A8 dashed;
    border-radius: 10px;
    background-color: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

