.board-setion {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 96px 0 0 328px;
    font-family: 'Inter', sans-serif;
    overflow-y: scroll;
}

.board-setion .head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 88px 0 0px;
}

.board-setion .head-section-right {
    display: flex;
}

.board-setion .input-section {
    position: relative;
    display: flex;
    align-items: center;
    width: 312px;
}

.board-setion .input-section input {
    padding: 8px 94px 8px 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    outline: none;
    height: 30px;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    color: black;
    width: 200px;
    padding-right: 94px;
}

.board-setion .input-line {
    position: absolute;
    right: 60px;
}

.board-setion .input-search {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.board-setion .head-section-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.board-setion .add-task {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 21px;
    font-weight: 700;
    background-color: #2A3647;
    text-decoration: none;
    color: #FFFFFF;
    padding: 6px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.board-setion .add-task:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 9px -1px rgba(0, 0, 0, 0.4);
}

.board-setion .task-board {
    display: flex;
    justify-content: space-between;
    margin: 48px 64px 0 0px;
    gap: 24px;
}

.board-setion .plus-icon {
    cursor: pointer;
}

.board-setion .task-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    width: 244px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.board-setion .task-field {
    height: 100vh;
    overflow: hidden;
}

.board-setion .task-area {
    display: flex;
    justify-content: space-between;
    /* height: calc(100vh - 327px); */
    gap: 24px;
    height: 100%;
    padding-bottom: 16px;
    overflow: scroll;
    padding: 18px 64px 0 0px;
}

.board-setion .creat-task-area {
    width: 244px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    gap: 16px;
    border-radius: 24px;
}

.board-setion .task-card {
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.board-setion .task-card:hover {
    transform: rotate(5deg);
}

.board-setion .card-category {
    padding: 4px 16px;
    background-color: #0038FF;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 8px;
}

.board-setion h4 {
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
    margin: 0;
}

.board-setion .card-description {
    color: #A8A8A8;
    font-size: 16px;
}

.board-setion .progress-bar-section {
    display: flex;
    align-items: center;
    width: 100%;
}

.board-setion .progress-bar {
    width: 60%;
    height: 8px;
    background-color: #F4F4F4;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    margin-right: 11px;
}

.board-setion .progress {
    width: 50%;
    height: 100%;
    background-color: #4589FF;
    transition: width 0.3s ease-in-out;
}

.board-setion .progress-bar-subtasks {
    font-size: 12px;
}

.board-setion .circle-1 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7A00;
}

.board-setion .circle-2 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1FD7C1;
    margin-left: -13px;
}

.board-setion .circle-3 {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #462F8A;
    margin-left: -13px;
}

.board-setion .task-card-users {
    display: flex;
    gap: 5px;
}

.board-setion .task-card-bottom-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-size: 12px;
}

.board-setion .drag-area-highlight {
    border: 2px gray dashed;
    background-color: rgba(0, 0, 0, 0.1);
}

.board-setion .noToDo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: #A8A8A8;
    border: 1px #A8A8A8 dashed;
    border-radius: 10px;
    background-color: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.board-setion #showTaskCard {}

.board-setion .overlayBoard {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-setion .task-card-overlay {
    width: 525px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    padding: 48px 40px;
}

.board-setion .card-category-top-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.board-setion .card-category-top-section img {
    cursor: pointer;
}

.board-setion .card-category-top-section:hover img {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.board-setion .card-category-overlay {
    padding: 4px 16px;
    background-color: #0038FF;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}

.board-setion .title-h4 {
    font-size: 48px;
    font-weight: 700;
    color: #000;
}

.board-setion .card-description-overlay {
    font-size: 20px;
    color: #000;
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 25px;
}

.board-setion .priority-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.board-setion .priority {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 4px 18px;
}

.board-setion .dark-gray {
    color: #2A3647;
}

.board-setion .assigned {
    font-size: 20px;
    color: #000;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.board-setion .assigned-contacts {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    padding: 7px 16px;
}

.board-setion .contact-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #462F8A;
    color: #FFFFFF;
}

.board-setion .subtasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.board-setion .subtask {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 6px 16px;
}

.board-setion .subtask:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.board-setion .subtasks-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.board-setion .edit-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.board-setion .edit {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.board-setion .edit:hover {
    color: #29ABE2;
}

.board-setion .trash:hover #path {
    fill: #0038FF;
}
















#addTaskOverlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 900;
    opacity: 0.2;
    overflow: hidden;
}

#addTaskWrapper {
    position: fixed;
    display: flex;
    z-index: 999;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: 999;
    animation: rightToCenter 0.5s ease-in-out forwards;
    font-family: 'Inter', sans-serif;
}

#addTaskCard {
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 90%;
    height: 594px;
    max-width: 80%;
    background-color: white;
    gap: 32px;
    z-index: 1000;
    border-radius: 30px;
    overflow: scroll;
    position: relative;
}

#editTaskCard {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    max-width: 90%;
    height: 605px;
    
    width: 525px;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    padding: 48px 40px;

    z-index: 1000;
    border-radius: 30px;
    overflow: scroll;
    position: relative;
}

#addTaskCard #addTaskContainer {
    position: relative;
}



@keyframes rightToCenter {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}