body {
    font-family: 'Inter', sans-serif;
}

h4 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #2A3647;

}

.add-contact-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 900;
    opacity: 0.2;
    overflow: hidden;
}

.add-contact-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    animation: rightToCenter 0.5s ease-in-out forwards;
}

@keyframes rightToCenter {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}



.add-contact-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    height: 594px;
    gap: 32px;
    background-color: white;
    z-index: 1000;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.add-contact-card-header {
    background-color: #2A3647;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 66px 48px 66px 48px;
}

.add-contact-card-header-content h4 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: white;

}

.add-contact-blue-line {
    background-color: #29ABE2;
    height: 3px;
    width: 90px;
}

.add-contact-card-icon {
    object-fit: cover;
    width: 55.6px;
    height: 66.48px
}

.contact-name-row .circle {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    border: 3px;
}

#contactCredentials .circle {
    width: 120px;
    height: 120px;
    border-radius: 70px;
    border: 3px;
}

#contactCredentials .circle .circle-text {
    font-weight: 500;
    font-size: 47px;
}





.add-contact-card-form {
    display: flex;
    flex-direction: column;
    padding: 66px 48px 66px 0px;
    gap: 32px;
}

.add-contact-card-form div {
    position: relative;
}

.add-contact-card-form input {
    width: 380px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 20px;
}

.add-contact-card-form img {
    position: relative;
    float: right;
    margin-top: -40px;
    margin-right: 21px;
}

#addContactFormActions {
    display: flex;
    gap: 24px;
}

#closeAddContactCardIcon {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

#contactChangeNotificationContainer {
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    background-color: #2A3647;
    left: 54px;
}

.contact-change-notification {
    z-index: 999;
    color: white;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shift-in {
    animation: rightToLeft 1s ease-in-out forwards;
}

.shift-out {
    animation: leftToRight 1s ease-in-out forwards;
}

@keyframes rightToLeft {
    from {
        transform: translateX(300%);
    }

    to {
        left: 54px;
    }
}

@keyframes leftToRight {
    from {
        left: 54px;
    }

    to {
        transform: translateY(300%);
    }
}






@media (max-device-width: 1000px) {
    .add-contact-card {
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        overflow-y: scroll;
        max-height: 90%;
        height:fit-content;
        gap: 0px;
    }

    #contactCredentials .circle {
        margin-top: -60px;
    }

    #contactCredentials img {
        border: none;
        margin-top: -60px;
    }

    .add-contact-card-form input {
        width: 100%;
        margin-right: -21px;
    }

    .add-contact-card-form img {
        margin-right: -21px;
    }

    #addContactFormActions {
        width: calc(100% + 48px);
        justify-content: center;
    }

    .clear-button {
        display: none;
    }

    .shift-in {
        animation: fromBottomTo20Percent 1s ease-in-out forwards;
    }

    .shift-out {
        animation: from20PercentToBottom 1s ease-in-out forwards;
    }
}


@keyframes fromBottomTo20Percent {
    from {
        bottom: 0;
    }

    to {
        bottom: 20%;
    }
}

@keyframes from20PercentToBottom {
    from {
        bottom: 20%;
    }

    to {
        bottom: 0;
    }
}













.contacts-container {
    position: absolute;
    left: 232px;
    top: 96px;
    width: calc(100% - 233px);
    height: calc(100vh - 96px);
    display: flex;
    overflow-y: scroll;
}

.contact-list-container {
    border-right: 1px solid #D1D1D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    width:800px;
}

#contactList {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 46px;
    top: 0px;
    left:0px;
    width:100%;
    height: 100%;
    margin-top: 78px;
}

.scrollable {
    overflow-y: scroll;
}

.contact-list-letter-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    margin: 8px;
}

.contact-list-letter-header p {
    font-weight: 400;
    font-size: 20px;
    padding: 17px 36px 17px 36px;
}

.contact-list-horizontal-line {
    width: 352px;
    background-color: #D1D1D1;
    margin: 8px;
    padding:0.5px;
}

.contact-element {
    display: flex;
    align-items: center;
    gap: 35px;
    height: 78px;
    width: calc(100% - 112px);
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 24px 15px 24px;
    font-size: 20px;
}

.contact-element:hover {
    background-color: rgb(233, 233, 233);
}

.contact-element.selected {
    background-color: #091931;
    color: white;
}

.contact-list-mail-text {
    color: #007CEE;
    word-wrap: break-word;
}

.contact-button-mobile{
    display: none !important;
}

.user-values {
    display: flex;
    align-items: center;
}

.contact-button {
    position: absolute;
    top: 0px;
    margin: 16px;
    width: 352px;
}

.selected-contact-container {
    position: relative;
    width: calc(100% - 438px);
    margin-left: 54px;
    margin-right: 54px;
}

.selected-contact-container h1 {
    font-size: 61px;
    font-weight: 700;
    margin: 0px;
}

.selected-contact-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;
}

.selected-contact-container h2 {
    font-size: 47px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
}

.horizontal-blue-line {
    background-color: #29ABE2;
    height: 59px;
    width: 3px;
}

.vertical-blue-line {
    display: none;
    background-color: #29ABE2;
    height: 3px;
    width: 59px;
}

.contact-name-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-name-row .circle {
    font-weight: 500;
    font-size: 47px;
}

.contact-name-row .circle .circle-text {
    font-weight: 500;
    font-size: 47px;
}

.contact-menu {
    display: flex;
    gap: 13px;
    font-size: 16px;
    width: 159px;
    justify-content: space-between;

}

#editField,
#deleteField {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #2A3647;
    cursor: pointer;
}

#editField:hover,
#deleteField:hover {
    filter: invert(54%) sepia(64%) saturate(1501%) hue-rotate(164deg) brightness(100%) contrast(78%);
    font-weight: 700;
}



.contact-information {
    font-size: 20px;
}

.contact-details {
    gap: 22px;
}

#goBack {
    visibility: hidden !important;
}


@media (max-device-width: 1200px) {
    .selected-contact-header {
        flex-direction: column;
        align-items: start;
        gap: 0px;
        margin-bottom: 40px;
    }

    .selected-contact-header h1 {
        margin-left: 0;
        margin-bottom: 0;
    }

    .selected-contact-header h4 {
        margin: 12px 0px 12px 0px;
    }

    .horizontal-blue-line {
        display: none
    }

    .vertical-blue-line {
        display: block;
    }

    .contact-name-row {
        width: 100%;
    }

    .contacts-container {
        left: 232px;
        justify-content: center;
    }

    .contact-hide-on-mobile {
        display: none !important;
    }

    .selected-contact-container {
        width: 90%;
    }

    #goBack {
        visibility: visible !important;
        top: 20px;
        right: 0;
    }

    .contact-list-container{
        position: relative;
        width:100%;
        max-width: 800px;
        display: flex;
        justify-content: center;
    }

    .contact-button{
        visibility: hidden;
    }

    .contact-button-mobile{
        display: flex !important;
        border-radius: 50%;
        padding: 15px;
        position: fixed;
        right:22px;
        bottom:22px;
        
    }

    #contactList{
        margin-top: 0;
        margin-bottom: 81px;
    }
}

@media (max-device-width: 800px) {
    .contacts-container {
        left: 0px;
        width: 100%;
    }

    .contact-button-mobile{
        bottom:85px;
    }
}