body {
    font-family: inter;
}

.help-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 96px 0 0 328px;
    padding-right: 64px;
    padding-bottom: 40px;
    overflow-y: scroll;
}

.break {
    margin-top: 80px;
}

p {
    font-size: 20px;
}

span {
    font-size: 19px;
}

h1 {
    font-size: 61px;
}

h2 {
    padding-top: 24px;
    font-size: 48px;
}

h3 {
    font-size: 27px;
}

.steps-cont {
    display: flex;
}

.pdg-btm {
    padding-bottom: 24px;
}

b,
strong {
    font-weight: bolder;
}

.number {
    margin-right: 50px;
}

.explanation {
    display: flex;
    flex-direction: column;
}

@media(max-width: 800px) {

    h1 {
        font-size: 47px;
    }

    h3 {
        font-size: 27px;
    }

}