body{
    font-family: inter;
}

.privacy-policy-container {
    position: absolute;
    /* margin: 100px 0 0 300px; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 96px 0 0 328px;
    padding-right: 40px;
    padding-bottom: 40px;
    overflow-y: scroll;
}

.break {
    margin-top: 80px;
}

p {
    font-size: 20px;
}

h3 {
    font-size: 24px;
}

li {
    font-size: 18px;
}